.button {
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: var(--ts-3);
  line-height: 1.5;
  background-color: var(--color-action);
  color: var(--color-dark);
  border: solid 2px var(--color-dark);
  border-radius: 24px;
  padding: 0 12px;
  transition: background-color 0.2s ease;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--sm {
  font-size: var(--ts-4);
  padding: 0 8px;
}

.button:hover,
.button:focus {
  background-color: var(--color-action-dark);
  border-top-width: 1px;
  border-bottom-width: 3px;
}

.button--toggle {
  background-color: var(--color-active-dark);
}

.button--toggle:hover,
.button--toggle:focus {
  background-color: var(--color-active);
}

.button--toggle:first-of-type {
  border-radius: 16px 0 0 16px;
  padding: 0 8px 0 12px;
}

.button--toggle:last-of-type {
  border-radius: 0 16px 16px 0;
  border-left: none;
  padding: 0 12px 0 8px;
}

.button--toggle.active {
  background-color: var(--color-active);
  border-top: solid 1px;
  border-bottom: solid 3px;
}

.button--catch,
.button--uncatch {
  width: 104px;
  justify-content: space-between;
  font-size: var(--ts-4);
  padding: 0 8px;
}

.button--catch {
  background-color: var(--color-bg-light);
  color: var(--color-light);
  border-color: var(--color-dark);
}

.button--catch .button__icon {
  filter: invert(1);
}

.button--catch:hover,
.button--catch:focus {
  background-color: var(--color-bg-dark);
}

.button__icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
