:root {
  /* Color scheme */
  --color-bg-light: #243787;
  --color-bg-dark: #0B1D74;
  --color-action: #FF1C1C;
  --color-action-dark: #cb1717;
  --color-active: #8bb250;
  --color-active-dark: #63754d;
  --color-table: #FBC75E;
  --color-table-dark: #e6b239;
  --color-dark: #000000;
  --color-light: #F8F8F8;
  --color-gray: #DCDCDC;
  --color-gray-light: #EDEDED;
  /* Typescale */
  --ts-1: 31px;
  --ts-2: 25px;
  --ts-3: 20px;
  --ts-4: 16px;
  /* Breakpoints */
  --breakpoint-xl: 1560px;
  --breakpoint-md: 1188px;
}

html {
  background-color: var(--color-bg-dark);
}

body {
  margin: 0;
  font-family: 'Dosis', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to bottom,
    var(--color-bg-dark),
    var(--color-bg-dark) 50%,
    var(--color-bg-light) 50%,
    var(--color-bg-light)
  );
  background-size: 100% 16px;
  font-size: var(--ts-3);
}

/* Utils */

.ts-1 {
  font-size: var(--ts-1);
}

.ts-2 {
  font-size: var(--ts-2);
}

.ts-3 {
  font-size: var(--ts-3);
}

.ts-4 {
  font-size: var(--ts-4);
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.m-0 {
  margin: 0;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mr-8 {
  margin-right: 8px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.color-light {
  color: var(--color-light);
}

/* Main classes */

.main-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
  padding: 24px;
  position: relative;
  display: flex;
}
@media only screen and (max-width: 1188px) {
  .main-container {
    padding: 8px;
    overflow: hidden;
  }
}

.pokeball-bg {
  position: absolute;
  z-index: 1;
  left: -256px;
  top: 50%;
  transform: translateY(-50%);
  height: 536px;
  width: 536px;
  opacity: 0.8;
  animation: pokeball-spin infinite 20s linear;
}

.tag {
  font-size: var(--ts-4);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: solid 1px;
  border-radius: 8px;
  padding: 0 6px;
  margin-right: 4px;
  font-weight: 600;
}

.status-toggler-container {
  display: none;
}
@media only screen and (max-width: 1188px) {
  .status-toggler-container {
    display: block;
    position: fixed;
    right: 8px;
    top: 12px;
    z-index: 3;
  }
}

@keyframes pokeball-spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}