.table-wrapper {
  position: relative;
  flex: 1;
  z-index: 2;
  margin-right: 24px;
}
@media only screen and (max-width: 1188px) {
  .table-wrapper {
    display: none;
    margin-right: 0;
  }
  .table-wrapper--active {
    display: block;
    margin-right: 0;
  }
}

.table-toggler {
  padding: 4px;
  background-color: var(--color-table-dark);
  display: inline-flex;
  align-items: center;
  border-radius: 18px 18px 0 0;
}

.table {
  width: 100%;
  height: calc(100% - 42px);
  display: flex;
  flex-direction: column;
  background-color: var(--color-table);
  border-radius: 0 8px 8px 8px;
  border: solid 2px var(--color-table-dark);
}

.table__head {
  display: flex;
  width: 100%;
}
@media only screen and (max-width: 1560px) {
  .table__head {
    display: none;
  }
}

.table__body {
  overflow: auto;
}
@media only screen and (max-width: 1560px) {
  .table__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.table__row {
  display: flex;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table__row:hover,
.table__row--active {
  background-color: var(--color-light);
}
@media only screen and (max-width: 1560px) {
  .table__row {
    flex-wrap: wrap;
    padding: 8px;
    box-sizing: border-box;
  }

  .table__row:not(.table__row--active):not(:hover):nth-child(4n+2),
  .table__row:not(.table__row--active):not(:hover):nth-child(4n+3) {
    background-color: var(--color-table-dark);
  }
}



.pokeball-icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.pokeball-icon--sm {
  width: 16px;
  height: 16px;
}