.table-cell {
  width: 176px;
  min-width: 176px;
  max-width: 176px;
  height: 32px;
  font-weight: 500;
  border-bottom: solid 1px var(--color-table-dark);
  padding: 4px 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

/* Sizes */

.table-cell--xs {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  align-items: center;
  justify-content: center;
}

.table-cell--sm {
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  font-size: var(--ts-4);
}

.table-cell--expand {
  width: auto;
  max-width: none;
  min-width: auto;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}

@media only screen and (max-width: 1560px) {
  .table-cell {
    width: auto;
    max-width: none;
    min-width: auto;
    height: auto;
    border-bottom: none;
    padding: 0 0 4px 0;
  }
  .table-cell--xs .pokeball-icon {
    width: 16px;
    height: 16px;
  }
  .table-cell--expand {
    width: 100%;
    min-width: 100%;
    padding-right: 0;
    padding-bottom: 0;
  }
}

/* Variants */

.table-cell--head,
.table-cell--head-selectable {
  background-color: var(--color-table-dark);
  font-weight: 700;
  font-size: var(--ts-4);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  align-items: center;
}

.table-cell--head-selectable {
  cursor: pointer;
  transition: 0.2s ease;
}

.table-cell--head-selectable:hover {
  color: var(--color-light);
}

.table-cell--name {
  font-size: var(--ts-3);
}

@media only screen and (max-width: 1560px) {
  .table-cell--show-xl {
    display: none;
  }
  .table-cell--timespan {
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .table-cell--name {
    font-size: var(--ts-4);
  }
}